**Disclaimer**: This Jupyter notebook is based on the materials from ["Intro to Python for Data Science" course in DataCamp](https://www.datacamp.com/courses/intro-to-python-for-data-science), with significant modifications by Gene Moo Lee. I acknowledge that the codes are DataCamp's intellectual property. Please see DataCamp's [terms and conditions](https://www.datacamp.com/terms-of-use/) for details. 

Students, please do not redistribute this notebook outside the class. Thank you!

## Learning objectives

1. Python as calculator
2. Commenting
3. Variable naming and assignment
4. Python data types: integer, floating point number, string
5. Type conversion

## 1. Python can be used as a calculator

In [1]:
print(4 / 8)

0.5

In [2]:
print(7 + 10)

17

## 2. Adding comments with '#'

Comments are important to make sure that you and others can understand what your code is about.

To add comments to your Python script, you can use the `#` tag. These comments are not run as Python code, so they will not influence your result. 

As an example, take the comment on the right, `# division`; it is completely ignored during execution.

In [3]:
# division
print(4 / 8)

# addition
print(7 + 10)

0.5
17

## Python as a calculator

In [5]:
# addition
print(5 + 5)

# subtraction
print(5 - 5)

# multiplication
print(3 * 5)

# division
print(10 / 2)

# modulo
print(18 % 7)

# quotient
print(18 // 7)

# exponentiation
print(4 ** 2)

10
0
15
5.0
4
2
16

## 3. Variable Assignment

In Python, a variable allows you to refer to a value with a name. To create a variable use `=`, like this example:

`x = 5`

You can now use the name of this variable, `x`, instead of the actual value, `5`.

Remember, `=` in Python means assignment, it doesn't test equality! 
- (Equality check is `==`. We will talk about this later).

In [6]:
# Create a variable savings
savings = 100

# Print out savings
print(savings)

100

## Variable naming rules

(Variable) names can contain these characters:
- Must start with a letter
- `a` through `z`
- `A` through `Z`
- the underscore character `_`
- digits `0` through `9`
- No spaces or special characters (exception `_`)
- Case Sensitive: lower and upper cases are different!

For a multiple-word name, use 
- either the underscore as the delimiter (Pythonic) or 
- camelCase capitalization (Java Style)

Short and meaningful names are ideal.

## Calculations with variables

In [7]:
# Create a variable savings
savings = 100

# Create a variable growth_multiplier
growth_multiplier = 1.1

# Calculate result
result = savings * growth_multiplier ** 7

# Print out result
print(result)

194.87171000000012

## 4. Python data types
In the previous exercise, you worked with two Python data types:

- `int`, or integer: a number without a fractional part. 
- `savings`, with the value `100`, is an example of an integer.
- `float`, or floating point: a number that has both an integer and fractional part, separated by a point. 
- `growth_multiplier`, with the value `1.1`, is an example of a float.

Next to numerical data types, there are two other very common data types:

- `str`, or string: a type to represent text. You can use **single (') or double quotes ('')** to build a string.
- `bool`, or boolean: a type to represent logical values. Can only be `True` or `False` (**the capitalization is important!**).

In [9]:
# this code will create an error
my_name = 'Gene'

In [10]:
# Create a variable desc
desc = "compound interest"

# Create a variable profitable
profitable = True

## Guess the Python data type

To find out the type of a value or a variable that refers to that value, you can use the `type()` function. Suppose you've defined a variable `a`, but you forgot the type of this variable. To determine the type of `a`, simply execute:

`type(a)`

You can create a new cell and use `type()` function to know their data types.

In [11]:
type(desc)

str

In [12]:
type(profitable)

bool

## 5. Type conversion

Using the `+` operator to paste together two strings can be very useful in building custom messages.

Suppose, for example, that you've calculated the return of your investment and want to summarize the results in a string. Assuming the floats `savings` and `result` are defined, you can try something like this:

In [15]:
# Definition of savings and result
savings = 100
result = 100 * 1.10 ** 7

print("I started with $" + str(savings) + " and now have $" + str(result) + ". Awesome!")

I started with $100 and now have $194.87171000000012. Awesome!

## To fix the error,
you'll need to explicitly convert the types of your variables. 

More specifically, you'll need `str()` function, to convert a value into a string. 
- `str(savings)`, for example, will convert the float savings to a string.

Similar functions such as `int()`, `float()` and `bool()` will help you convert Python values into any type.

# Fun exercise time!!

### Learning programing is like learning foreign languages: we can learn programming languange by using it. 

### That means that you have to **type it out**, not passively read the codes. 

### In this course, we will have many exercises, which I ask you to solve independently. Then time to time, I will ask a volunteer to live code your solution during the lectures

In [1]:
from IPython.display import Image
from IPython.core.display import HTML 

Image(url="error.jpg", width=500)

## 1. Our first exercise: compound interest

Suppose you have `$100`, which you can invest with a `10%` return each year. After one year, it's `100×1.1=110` dollars, and after two years it's `100×1.1×1.1=121`. 

Write a Python code to calculate how much money you end up with after 7 years.

In [17]:
# Yuju (Emery) Chang
seven_years = 100*1.1 ** 7
print(seven_years)

194.87171000000012

## 2. Exercise: variable naming

Which of the following variables are valid in Python?

In [ ]:
# Akio
# My_x2, my_height, new_temp, newTemp, counter, temp, price, age

In [19]:
My_x2 = 21
x2 = 22
my_height = 180
new_temp = 23
newTemp = 23
counter = 0
temp = 1
price = 2
age = 3

## 3. Exercise: check type with `type()` function
Which are the types of the three variables?

In [27]:
a = 3.141592
b = 'True'
c = False

In [23]:
type(c)

bool

In [ ]:
# Abhijit Agrawal 1 minute ago
float

string

boolean

## 4. Exercise: Data type check
Which are the types of the `year1`, `two_savings`, and `doubledesc` variables in the following codes?

In [28]:
savings = 100
growth_multiplier = 1.1
desc = "compound interest"

# Assign product of growth_multiplier and savings to year1
year1 = growth_multiplier * savings

# Assign sum of two savings to two_savings
two_savings = savings + savings

# Assign sum of desc and desc to doubledesc
doubledesc = desc + desc

In [29]:
# Cherry
print(type(year1)) #float

print(type(two_savings)) #int

print(type(doubledesc)) #str

<class 'float'>
<class 'int'>
<class 'str'>

## 5. Exercise: number-to-string type conversion
Fix the following code

In [30]:
# Definition of savings and result
savings = 100
result = 100 * 1.10 ** 7

print("I started with $" + savings + " and now have $" + result + ". Awesome!")

TypeError: can only concatenate str (not "int") to str

In [31]:
#Shijie Yu 
savings = 100
result = 100 * 1.10 ** 7

print("I started with $" + str(savings) + " and now have $" + str(result) + ". Awesome!")

I started with $100 and now have $194.87171000000012. Awesome!

## 6. Exercise: Which code creates type error?
Which of the following four Python expressions will throw an error?

In [16]:
# Hechenchen Zhang
"The correct answer to this exercise is number " + 2

In [33]:
"I can add integers, like " + 5 + " to string."

TypeError: can only concatenate str (not "int") to str

In [34]:
"I said " + ("Hey " * 2) + "Hey!"

'I said Hey Hey Hey!'

In [32]:
"The correct answer to this exercise is number " + 2

TypeError: can only concatenate str (not "int") to str

In [35]:
False + False

0

In [38]:
False / True

0.0

In [40]:
int(False)

0

## Takeaway from exercises: Operations with other types
## Different data types behave differently in Python.

When you sum two strings, for example, you'll get different behavior than when you sum two integers or two booleans.

In the script some variables with different types have already been created. It's up to you to use them.

## Takeaways:

1. Python as calculator
2. Commenting
3. Variable naming and assignment
4. Python data types: integer, floating point number, string
5. Type conversion

## That's all for this notebook. Good job!